<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<h1>Login</h1>
<body>
<form class="form" action="/submit" method="get">
<div class="container">
    <input type="text" placeholder="Username" name="username" required>
    <br><br>
    <input type="text" placeholder="Password" name="password" required>
    <br><br>
    <div>
        <button class="button" type="submit" onclick="submit()">Submit</button>
    </div>
    <br>
    <a id="signup" href="signup" onclick="signup();">Sign Up</a><br>
    <p style="color:red">{{message}}</p>
</div>
</form>
</body>
</html>
